  <div class="col-md-12">
    <h3>{{event.title}}</h3>
    <h4>{{event.date}}</h4>
    <div id="event-description">

    </div>
  </div>
  <div class="col-md-12"  style="margin-top:130px;" ng-show="signedIn()">
    <form class="" ng-submit="editEvent(event)" style="margin-top:30px">
      <h3>Edit</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder={{event.title}} ng-model="eventTitle">
      </div>
      <div class="form-group">
        <textarea type="text" rows="5" cols="6" class="form-control" placeholder={{event.description}} ng-model="eventDescription"></textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder={{event.date}} ng-model="eventDate">
        <input type="text" class="form-control" placeholder={{event.time}} ng-model="eventTime">
      </div>
      <button type="submit" class="btn btn-primary">Edit Event</button>
    </form>
  </div>
