  <div ng-repeat="event in events | orderBy: '-date'">
    <span class="" style="cursor:pointer" ng-click="likeEvent(event)">^</span>
    <a href="#!/events/{{$index}}">{{event.date}}: {{event.title}} - like: {{event.likes}}</a>
  </div>
  <div class="col-md-6">
    <form class="" ng-submit="addEvent()" style="margin-top:30px">
      <h3>Add New Event</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="title">
      </div>
      <div class="form-group">
        <textarea type="text" rows="5" cols="6" class="form-control" placeholder="Description" ng-model="description"></textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="01 Jannuary 1999" ng-model="date">
      </div>
      <button type="submit" class="btn btn-primary">Add Event</button>
    </form>
  </div>
